@media screen {
    .de-editable {
        cursor: auto!important;
    }
    html {
        margin-right: 0px!important;
        overflow-x: hidden;
    }
    body {
        color: #2e2e2e;
    }
    .container {
        overflow: hidden;
    }
    .elVideoplaceholder {
        display: none;
    }
    .elVideo {
        display: block!important;
    }
    [data-imagelink]:not([data-imagelink=""]) {
        cursor: pointer;
    }
    .hide {
        display: none;
    }
    .elCustomJSBg {
        display: none;
    }
    .modalBackdropWrapper,
    .containerModal {
        position: fixed;
        opacity: 0;
        top: -800;
    }
    .innerContent {
        word-wrap: break-word;
    }
    @media screen and (max-width: 500px) {
        #tubular-container {
            display: none!important;
        }
    }
    .otoloading {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 9999999999999999;
    }
    .otoloadingtext {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: #FFF;
        border-radius: 4px;
        padding: 60px;
        margin-top: 20px;
        margin-left: -100px;
        min-width: 200px;
        position: absolute;
        left: 50%;
        font-weight: bold;
    }
    .otoloadingtext h2 {
        font-weight: bold;
    }
    .otoloadingtext i {
        font-size: 72px;
    }
    .elOrderProductOptinProductName {
        width: 100%!important;
    }
    .elOrderProductOptinPrice {
        width: 30%!important;
        text-align: right;
    }
    .ea-buttonElevate {
        transition: .2s;
        box-shadow: 0px 0px 0px 0px transparent;
    }
    .ea-buttonElevate:hover {
        transform: translateY(-10px);
        box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.25);
    }
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    body {
        margin: 0;
    }
    a {
        background: 0 0;
    }
    a:active,
    a:hover {
        outline: 0;
    }
    b {
        font-weight: 700;
    }
    h1 {
        font-size: 2em;
        margin: .67em 0;
    }
    img {
        border: 0;
    }
    svg:not(:root) {
        overflow: hidden;
    }
    hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
    }
    button,
    input,
    select,
    textarea {
        font: inherit;
        margin: 0;
    }
    button {
        overflow: visible;
    }
    button,
    select {
        text-transform: none;
    }
    button,
    input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    input {
        line-height: normal;
    }
    input[type=checkbox],
    input[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }
    textarea {
        overflow: auto;
    }
    @media print {
        * {
            text-shadow: none!important;
            color: #000!important;
            background: transparent!important;
            box-shadow: none!important;
        }
        a,
        a:visited {
            text-decoration: underline;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        a[href^="#"]:after {
            content: "";
        }
        img {
            page-break-inside: avoid;
        }
        img {
            max-width: 100%!important;
        }
        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }
        h2,
        h3 {
            page-break-after: avoid;
        }
        select {
            background: #fff!important;
        }
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
     :before,
     :after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
        -webkit-tap-highlight-color: transparent;
    }
    body {
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }
    input,
    button,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    a {
        text-decoration: none;
    }
    a:hover,
    a:focus {
        text-decoration: underline;
    }
    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    img {
        vertical-align: middle;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    h1,
    h2,
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        margin: 0 0 10px;
    }
    .text-center {
        text-align: center;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-7,
    .col-md-8,
    .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 992px) {
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-7,
        .col-md-8,
        .col-md-12 {
            float: left;
        }
        .col-md-12 {
            width: 100%;
        }
        .col-md-8 {
            width: 66.66666667%;
        }
        .col-md-7 {
            width: 58.33333333%;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
        .col-md-3 {
            width: 25%;
        }
        .col-md-2 {
            width: 16.66666667%;
        }
    }
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: 700;
    }
    input[type=radio],
    input[type=checkbox] {
        margin: 4px 0 0;
        margin-top: 1px \9;
        line-height: normal;
    }
    input[type=radio]:focus,
    input[type=checkbox]:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .form-control::-moz-placeholder {
        color: #999;
        opacity: 1;
    }
    .form-control:-ms-input-placeholder {
        color: #999;
    }
    .form-control::-webkit-input-placeholder {
        color: #999;
    }
    .checkbox {
        display: block;
        min-height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
    }
    .checkbox input[type=checkbox] {
        float: left;
        margin-left: -20px;
    }
    .checkbox+.checkbox {
        margin-top: -5px;
    }
    .progress {
        overflow: hidden;
        height: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #428bca;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;
    }
    .clearfix:before,
    .clearfix:after,
    .container:before,
    .container:after,
    .row:before,
    .row:after {
        content: " ";
        display: table;
    }
    .clearfix:after,
    .container:after,
    .row:after {
        clear: both;
    }
    .pull-right {
        float: right!important;
    }
    .pull-left {
        float: left!important;
    }
    .hide {
        display: none!important;
    }
    .containerWrapper {
        min-width: 320px;
    }
    .innerContent {
        word-wrap: break-word;
    }
    .midContainer {
        max-width: 720px;
        width: 100%;
    }
    .midContainer .containerInner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .fullContainer {
        width: 100%;
    }
    .fullContainer .containerInner {
        width: 1170px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        padding: 10px;
    }
    .padding10-top {
        padding-top: 10px;
    }
    .padding20-top {
        padding-top: 20px;
    }
    .padding40-top {
        padding-top: 40px;
    }
    .padding10-bottom {
        padding-bottom: 10px;
    }
    .padding20-bottom {
        padding-bottom: 20px;
    }
    .padding40-bottom {
        padding-bottom: 40px;
    }
    .padding40H {
        padding-left: 0px;
        padding-right: 0px;
    }
    .radius0 {
        border-radius: 0px;
    }
    .radius5 {
        border-radius: 5px;
    }
    .radius15 {
        border-radius: 15px;
    }
    .padding10 {
        padding: 10px!important;
    }
    .padding20 {
        padding: 20px!important;
    }
    .borderSolid.border1px {
        border-width: 1px;
        border-style: solid;
    }
    .borderSolid.border2px {
        border-width: 2px;
        border-style: solid;
    }
    .borderSolid.border3px {
        border-width: 3px;
        border-style: solid;
    }
    .borderSolid.border5px {
        border-width: 5px;
        border-style: solid;
    }
    .noBorder {
        border: none!important;
    }
    .borderLight {
        border-color: rgba(0, 0, 0, 0.7);
    }
    .borderLightBottom {
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
        border-bottom-color: rgba(0, 0, 0, 0.7);
    }
    .borderLightTop {
        border-top-color: rgba(0, 0, 0, 0.7);
        border-bottom: none!important;
        border-left: none!important;
        border-right: none!important;
    }
    .shadow20 {
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }
    .shadow30 {
        -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    }
    .border1px {
        background-position-y: -1px;
    }
    .border2px {
        background-position-y: -2px;
    }
    .border3px {
        background-position-y: -3px;
    }
    .border5px {
        background-position-y: -5px;
    }
    .bgNoRepeat {
        background-repeat: no-repeat!important;
    }
    .bgCover {
        background-size: cover!important;
        -webkit-background-size: cover!important;
        background-attachment: fixed!important;
        background-repeat: repeat repeat!important;
        background-position: center center;
    }
    .bgCover101 {
        background-size: 100% 100%!important;
        -webkit-background-size: 100% 100%!important;
        background-repeat: no-repeat!important;
    }
    .modalBackdropWrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 222;
    }
    .containerModal {
        position: fixed;
        z-index: 222;
        top: 0px;
        left: 50%;
        overflow: visible!important;
    }
    .midContainer.containerModal {
        margin-left: -360px;
    }
    .closeLPModal {
        position: absolute;
        right: -20px;
        top: -20px;
        cursor: pointer;
    }
    html {
        background-color: #F1F4F8;
        color: #2f2f2f;
    }
    body {
        -webkit-font-smoothing: antialiased;
        color: inherit!important;
    }
    h1,
    h2,
    h3 {
        margin-top: 0px;
    }
    .de-editable {
        position: relative;
    }
    .elMargin0 {
        margin-top: 0px;
    }
    .elAlign_left {
        text-align: left;
    }
    .elAlign_center {
        text-align: center;
    }
    .elAlign_right {
        text-align: right;
    }
    .elHeadline {
        position: relative;
    }
    .elHeadline {
        margin-bottom: 0px;
        padding: 0px;
    }
    .elHeadline span {
        padding: 5px 10px;
    }
    .elHeadlineWrapper .elHeadline span {
        padding: 0px;
    }
    .elHeadline u {
        border-bottom: 2px solid inherit;
    }
    .hsSize1 {
        font-size: 16px;
    }
    .hsSize18 {
        font-size: 18px;
    }
    .hsSize2 {
        font-size: 24px;
    }
    .hsSize3 {
        font-size: 32px;
    }
    .lh1 {
        line-height: 1em;
    }
    .lh4 {
        line-height: 1.3em;
    }
    .lh3 {
        line-height: normal;
    }
    .deUppercase {
        text-transform: uppercase;
    }
    .de-image-block img {
        max-width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px;
    }
    .el_media_theme3 {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
        padding: 5px!important;
        border-radius: 5px;
        background: #fff;
    }
    .elVideo {
        position: relative;
        overflow: hidden;
    }
    .elVideo iframe {
        z-index: 3;
    }
    .elVideoplaceholder {
        position: relative;
        padding-bottom: 56.25%!important;
        padding-top: 25px!important;
        height: 0;
        margin-bottom: 0px;
        z-index: 1;
    }
    .elVideoplaceholder_inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #2B2B2B;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        background-image: url(https://www.ecomvids.com/images/videoplaceholderbg.png);
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    }
    .elVideoWidth100 {
        width: 100%!important;
    }
    .elButton {
        margin-right: auto;
        margin-left: auto;
        color: #FFF;
        font-weight: bold;
        display: inline-block;
        -ms-transform: all .2s ease-in-out;
        -webkit-transform: all .2s ease-in-out;
        transform: all .2s ease-in-out;
        text-align: center!important;
        text-decoration: none!important;
    }
    .elButton:hover {
        text-decoration: none;
        color: inherit;
    }
    .elButton:visited,
    .elButton:active,
    .elButton:hover {
        text-decoration: none!important;
    }
    .elButton {
        padding: 13px 35px;
    }
    .elButtonPadding2 {
        padding: 9px 25px;
    }
    .elButton .fa_appended {
        margin-left: 10px;
    }
    .elButton .fa_prepended {
        margin-right: 10px;
    }
    .elButtonSize1 {
        font-size: 18px;
    }
    .elButtonSub {
        display: block;
        opacity: 0.7;
        font-weight: normal;
    }
    .elButtonSize1 .elButtonSub {
        font-size: 14px;
    }
    .elButtonFull {
        display: block;
        text-align: center;
        width: 100%;
    }
    .elButtonTxtColor2 {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
    .elButtonRounded {
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-bottom: 4px solid rgba(0, 0, 0, 0.13);
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.22);
        border-radius: 6px;
    }
    .elButtonRounded:hover {
        box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.22), 0 233px 233px 0 rgba(255, 255, 255, 0.12) inset;
    }
    .elButtonMain:before {
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        margin-right: 15px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .elButtonColor1 {
        background-color: #0092D5;
    }
    .elButtonColor1:hover {
        background-color: #0c69a8;
    }
    .elButtonShadow2 {
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
    .elButtonShadow3 {
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    }
    .ceoinput {
        border: 1px solid #b4becd;
        border-top-color: #b0baca;
        border-bottom-color: #d3d9e2;
        box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.95)!important;
        border-radius: 3px!important;
    }
    .elBtnVP_10 {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .elBtnVP_20 {
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
    .elBtnHP_20 {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .elBtnHP_25 {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    .elButtonCorner0 {
        border-radius: 0px;
    }
    .elButtonCorner3 {
        border-radius: 3px;
    }
    .elButtonCorner3 {
        border-radius: 3px;
    }
    .elButtonCorner5 {
        border-radius: 5px;
    }
    .elBTN_b_none {
        border: none;
    }
    .elBTN_b_1 {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .elButtonShadowN1 {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }
    .elDivider {
        width: 100%;
        min-height: 1px;
        margin: 0px;
    }
    .elDividerInner {
        min-height: 1px;
    }
    .elDivider:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .elDivider {
        display: inline-block;
    }
    .elDivider {
        display: block;
    }
    .elDividerStyle1 .elDividerInner {
        border-top-width: 1px;
        border-top-style: solid;
    }
    .elDividerInner[data-style="dashed"] {
        border-top-style: dashed!important;
    }
    .elDividerInner[data-height-border="3"] {
        border-top-width: 3px;
    }
    .elInput {
        outline: none!important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .elInputSmall {
        font-size: 14px;
        line-height: 24px;
        padding: 12px 18px;
    }
    .elInputMid {
        font-size: 16px;
        padding: 12px 18px;
    }
    .elInput100 {
        width: 100%;
    }
    .elInputStyl0 {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .elInputStyl0:focus {
        border-color: #42B0E2;
    }
    .elInputBG1 {
        background-color: #fff;
    }
    .elInputBR5 {
        border-radius: 5px;
    }
    .elInputBR2 {
        border-radius: 20px;
    }
    .elInputIRight {
        background-position: 97%;
    }
    .elInput.elInputBR5 {
        border-radius: 5px!important;
    }
    .elOrderProductOptinLabel {
        border-bottom: 1px solid #DDD;
        padding-bottom: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }
    .elOrderProductOptinProducts {
        padding: 5px;
    }
    .elOrderProductOptinProducts input {
        margin-right: 5px;
    }
    .elOrderProductOptinProducts label {
        font-weight: inherit;
    }
    .elOrderProductOptinPrice {
        padding-left: 20px;
    }
    .elOrderProductOptinProductName label {
        display: inline;
    }
    .activeRadioProduct {
        background: #fafafa;
    }
    .elOrderProductOptionsSelect {
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 18px;
        height: 50px;
        display: none;
    }
    .ccStripeElementCard {
        float: left;
        width: 100%;
    }
    .ccStripeElementExp {
        float: left;
        width: 50%;
        padding-right: 20px;
    }
    .ccStripeElementCVC {
        float: left;
        width: 50%;
    }
    .ccNumberWrap {
        float: left;
        width: 65%;
    }
    .ccCVCWrap {
        float: left;
        width: 35%;
        padding-left: 20px;
    }
    .ccMonthWrap {
        float: left;
        width: 37.5%;
        padding-right: 20px;
    }
    .ccYearWrap {
        float: left;
        width: 37.5%;
    }
    .cc-number {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .cc-cvc {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .cc-expirey-month {
        display: block;
        width: 100%;
    }
    .cc-expirey-year {
        display: block;
        width: 100%;
    }
    .ccInputText {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .elOrderProductOptinItem,
    .elOrderProductOptinLabelPrice {
        font-weight: bold;
    }
    .elButtonShadow2 {
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
    .elButtonShadow3 {
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    }
    .small-progress-bar {
        height: 35px;
        line-height: 36px;
        font-size: 14px;
    }
    .small-progress-bar .progress-bar {
        line-height: 36px;
        height: 35px;
        font-size: 14px;
    }
    .progressbar_nocorners {
        border-radius: 0!important;
    }
    .progressbar_offsetTransparentWhite {
        background: rgba(255, 255, 255, 0.5);
    }
    .progressbar_w_33 {
        width: 33%;
    }
    .progress-bar {
        -webkit-transition: width .25s ease, height .25s ease, font-size .25s ease;
        -moz-transition: width .25s ease, height .25s ease, font-size .25s ease;
        -ms-transition: width .25s ease, height .25s ease, font-size .25s ease;
        -o-transition: width .25s ease, height .25s ease, font-size .25s ease;
        transition: width .25s ease, height .25s ease, font-size .25s ease;
    }
    .progress-bar-striped_active {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px;
        -webkit-animation: progress-bar-stripes 2s linear infinite reverse;
        -o-animation: progress-bar-stripes 2s linear infinite reverse;
        animation: progress-bar-stripes 2s linear infinite reverse;
    }
    @media only screen and (min-width: 771px) {
        *[data-hide-on="mobile"] {
            display: none!important;
        }
        *[data-hide-on="desktop"] {
            display: block;
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 770px) {
        *[data-hide-on="desktop"] {
            display: none!important;
        }
        *[data-hide-on="mobile"] {
            display: block;
        }
        body {
            overflow-x: hidden;
        }
        .closeLPModal {
            right: -6px;
        }
        .fullContainer .containerInner {
            width: 100%!important;
            min-width: 320px;
        }
        .midContainer {
            width: 100%!important;
            min-width: 320px;
        }
        .midContainer.containerModal {
            margin-left: -320px;
            width: 100%!important;
        }
        .col-inner {
            padding-left: 10px!important;
            padding-right: 10px!important;
        }
        .innerContent {
            padding: 0px!important;
        }
        .row {
            padding-left: 5px!important;
            padding-right: 5px!important;
        }
        .col_right {
            margin-top: 20px!important;
        }
        .de-video-block {
            width: 100%!important;
        }
        .containerModal {
            margin-left: 0px!important;
            left: 0px!important;
            width: 100%!important;
        }
        .de-image-block {
            text-align: center!important;
        }
        .containerInner {
            padding-left: 0px!important;
            padding-right: 0px!important;
        }
        .row,
        .col-inner {
            margin-left: auto!important;
            margin-right: auto!important;
            width: auto!important;
        }
        .elBTN {
            text-align: center;
        }
        .elHeadlineWrapper {
            padding-left: 0px!important;
            padding-right: 0px!important;
        }
        .ccNumberWrap {
            float: left;
            width: 100%;
        }
        .ccCVCWrap {
            float: left;
            width: 100%;
            padding-left: 0;
        }
        .bgCover {
            background-attachment: scroll!important;
        }
        .elOrderProductOptinProductName {
            width: 100%!important;
        }
        .elOrderProductOptinPrice {
            width: 30%!important;
            text-align: right;
        }
    }
    @media only screen and (min-width: 770px) and (max-width: 1170px) {
        .col-inner {
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
        .fullContainer .col-md-2,
        .fullContainer .col-md-3,
        .fullContainer .col-md-4,
        .fullContainer .col-md-7,
        .fullContainer .col-md-8,
        .fullContainer .col-md-12 {
            float: left!important;
        }
        .fullContainer .col-md-12 {
            width: 100%;
        }
        .fullContainer .col-md-8 {
            width: 66.66666667%;
        }
        .fullContainer .col-md-7 {
            width: 58.33333333%;
        }
        .fullContainer .col-md-4 {
            width: 33.33333333%;
        }
        .fullContainer .col-md-3 {
            width: 25%;
        }
        .fullContainer .col-md-2 {
            width: 16.66666667%;
        }
        .midContainer .col-md-12 {
            float: left!important;
        }
        .midContainer .col-md-12 {
            width: 100%;
        }
    }
    @media only screen and (max-width: 700px) {
        .mfs_18 {
            font-size: 18px!important;
        }
        .mfs_30 {
            font-size: 30px!important;
        }
    }
    @media (max-width: 1170px) {
        .fullContainer .containerInner {
            width: 100%!important;
        }
    }
    @media only screen and (min-width: 650px) and (max-width: 720px) {
        .midContainer {
            width: 100%!important;
            min-width: 320px;
        }
        .midContainer.containerModal {
            margin-left: -320px;
        }
    }
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .StripeElement {
        padding: 10px 12px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }
    [data-de-type="cb_headline"] input[type="checkbox"] {
        -webkit-appearance: checkbox!important;
        -moz-appearance: checkbox!important;
        appearance: checkbox!important;
        margin-right: .25em;
        height: 16px;
        width: 16px;
        float: left;
        margin-top: 2px;
    }
    [data-de-type="cb_headline"] .elHeadline {
        margin-left: 25px;
    }
}

.fa,
.fab,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-spin {
    animation: fa-spin 2s infinite linear;
}

.fa-amazon:before {
    content: "\f270";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-arrow-down:before {
    content: "\f063";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-comment:before {
    content: "\f075";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-google-play:before {
    content: "\f3ab";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-minus:before {
    content: "\f068";
}

.fa-phone:before {
    content: "\f095";
}

.fa-play:before {
    content: "\f04b";
}

.fa-play-circle:before {
    content: "\f144";
}

.fa-plus:before {
    content: "\f067";
}

.fa-spinner:before {
    content: "\f110";
}

.fa-youtube:before {
    content: "\f167";
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fas {
    font-weight: 900;
}

.fa.fa-play-circle-o {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.fa.fa-play-circle-o:before {
    content: "\f144";
}

.fa.fa-instagram {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.fa.fa-facebook-official {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.fa.fa-facebook-official:before {
    content: "\f09a";
}

.fa.fa-amazon {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

iframe#_hjRemoteVarsFrame {
    display: none!important;
    width: 1px!important;
    height: 1px!important;
    opacity: 0!important;
    pointer-events: none!important;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}

.fb_iframe_widget iframe {
    position: absolute;
}

.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

._2khqWEGB {
    border-collapse: separate!important;
    border-spacing: 0!important;
    caption-side: top!important;
    cursor: auto!important;
    direction: ltr!important;
    empty-cells: show!important;
    font-family: serif!important;
    font-size: medium!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-weight: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    hyphens: none!important;
    letter-spacing: normal!important;
    list-style: disc outside none!important;
    tab-size: 8!important;
    text-align: left!important;
    text-align-last: auto!important;
    text-indent: 0!important;
    text-shadow: none!important;
    text-transform: none!important;
    visibility: visible!important;
    white-space: normal!important;
    widows: 2!important;
    word-spacing: normal!important;
    all: initial!important;
}

.eOSLETcK {
    display: block!important;
    text-align: center!important;
}

.eOSLETcK ._2k22t6bo {
    display: inline-block!important;
    min-height: 54px!important;
}

.eOSLETcK ._2k22t6bo._2p8R-N65 {
    width: 177px!important;
    min-height: 68px!important;
}

.nNd_kXs- {
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 1!important;
    vertical-align: middle!important;
    display: inline-block!important;
    background-color: transparent!important;
    transition: transform 200ms, opacity 200ms!important;
    transform-origin: center center!important;
    opacity: 0.3!important;
    cursor: pointer!important;
    z-index: 2147483637!important;
    padding: 15px!important;
    box-sizing: content-box!important;
    font-size: 22px!important;
    position: absolute!important;
    right: 0px!important;
    top: 3px!important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6)!important;
    width: 14px!important;
    height: 14px!important;
}

.nNd_kXs-:hover {
    opacity: 0.6!important;
}

.nNd_kXs-.V1Q_ye8D {
    color: #000!important;
    fill: #000!important;
}

._1cF7rh3b {
    position: absolute!important;
    width: 75px!important;
    height: 37.5px!important;
    box-sizing: border-box!important;
    bottom: 5px!important;
    right: 5px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
    padding: 3px!important;
    border-radius: 4px!important;
    background-color: rgba(255, 255, 255, 0.4)!important;
    text-decoration: none!important;
    cursor: pointer!important;
    transition: background-color 0.3s!important;
    font-family: Lato!important;
}

._1cF7rh3b:hover {
    background-color: #eff2f7!important;
}

._3eM5PfJg {
    position: relative!important;
    line-height: 1!important;
    height: 75%!important;
    display: block!important;
    color: #0084ff!important;
    fill: #0084ff!important;
}

._1lfy1MW3 {
    display: flex!important;
    flex-flow: column!important;
    justify-content: center!important;
    color: #000!important;
}

._2Z4Q89uT {
    margin-bottom: 2px!important;
    font-weight: 300!important;
    font-size: 6px!important;
    line-height: 1!important;
}

._3gvF046P {
    font-weight: 300!important;
    font-size: 8px!important;
    line-height: 1!important;
}


/*! CSS Used from: Embedded */

._3o-dO6Hw,
._3o-dO6Hw h2,
._3o-dO6Hw p {
    border-collapse: separate!important;
    border-spacing: 0!important;
    caption-side: top!important;
    cursor: auto!important;
    direction: ltr!important;
    empty-cells: show!important;
    font-family: serif!important;
    font-size: medium!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-weight: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    hyphens: none!important;
    letter-spacing: normal!important;
    list-style: disc outside none!important;
    tab-size: 8!important;
    text-align: left!important;
    text-align-last: auto!important;
    text-indent: 0!important;
    text-shadow: none!important;
    text-transform: none!important;
    visibility: visible!important;
    white-space: normal!important;
    widows: 2!important;
    word-spacing: normal!important;
    all: initial!important;
}

._3UzXvoMT {
    display: block!important;
    padding: 35px 40px 50px 40px!important;
    width: 430px!important;
    max-width: 430px!important;
    z-index: 2147483634!important;
    overflow: visible!important;
    text-align: center!important;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    box-sizing: border-box!important;
    max-height: 80vh!important;
    overflow-y: auto!important;
}

._3UzXvoMT h2 {
    display: block!important;
    margin: 0!important;
    padding: 12px 0!important;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 500!important;
    line-height: 32px!important;
    font-size: 27px!important;
    text-shadow: none!important;
    text-align: inherit!important;
}

._3UzXvoMT p {
    display: block!important;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    margin: 0!important;
    padding: 12px 0!important;
    text-shadow: none!important;
    font-size: 16px!important;
    line-height: 25px!important;
    text-align: inherit!important;
}

._3UzXvoMT ._2JZn5mN0 {
    margin-top: 15px!important;
    text-align: center!important;
}


/*! CSS Used from: Embedded */

._2gJDhEK0 {
    border-collapse: separate!important;
    border-spacing: 0!important;
    caption-side: top!important;
    cursor: auto!important;
    direction: ltr!important;
    empty-cells: show!important;
    font-family: serif!important;
    font-size: medium!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-weight: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    hyphens: none!important;
    letter-spacing: normal!important;
    list-style: disc outside none!important;
    tab-size: 8!important;
    text-align: left!important;
    text-align-last: auto!important;
    text-indent: 0!important;
    text-shadow: none!important;
    text-transform: none!important;
    visibility: visible!important;
    white-space: normal!important;
    widows: 2!important;
    word-spacing: normal!important;
    all: initial!important;
}

.yYCer_Oj {
    z-index: 2147483636!important;
    position: fixed!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    outline: 0!important;
    -webkit-overflow-scrolling: touch!important;
    zoom: 1!important;
    overflow: auto!important;
    background: #000!important;
    background: 0 0 9!important;
    background: rgba(0, 0, 0, 0.42)!important;
    opacity: 0!important;
    visibility: hidden!important;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s, visibility 0s linear 0.8s!important;
}

._10qmHyZT {
    border-radius: 4px!important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16)!important;
    z-index: 2147483634!important;
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)!important;
    transform: translate(-50%, 100vh)!important;
}

@media (max-width: 768px) {
    ._10qmHyZT {
        width: 97%!important;
    }
}


/*! CSS Used from: Embedded */

.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #2E2C39;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-right: 0px solid white;
    width: 20%;
    border-right: 1px solid #FFFFFF;
}

#defaultOpen1 {
    border-radius: 30px 0px 0px 30px;
}

.tab button:hover {
    background-color: #3FBA9E;
    color: #FFFFFF;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
}

hr {
    border: 2px solid #2E2C39;
}


/*! CSS Used from: Embedded */

.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #2E2C39;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-right: 0px solid white;
    width: 20%;
    border-right: 1px solid #FFFFFF;
}

#defaultOpen1 {
    border-radius: 30px 0px 0px 30px;
}

.tab button:hover {
    background-color: #3FBA9E;
    color: #FFFFFF;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
}

hr {
    border: 2px solid #2E2C39;
}


/*! CSS Used from: Embedded */

.accordionm {
    background-color: #2E2C39;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}

.accordionm:hover {
    background-color: #3FBA9E;
}

.accordionm:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panelm {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*! CSS Used from: Embedded */

.accordionm2 {
    background-color: #F6F1B9;
    color: #2E2C39;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}

.accordionm2:hover {
    background-color: rgb(66, 185, 159);
    color: #ffffff;
}

.accordionm2:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panelm2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*! CSS Used from: Embedded */

.accordionm3 {
    background-color: #2E2C39;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}

.accordionm3:hover {
    background-color: #3FBA9E;
}

.accordionm3:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panelm3 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*! CSS Used from: Embedded */

.accordionm5 {
    background-color: #2E2C39;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}

.accordionm5:hover {
    background-color: #3FBA9E;
}

.accordionm5:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panelm5 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*! CSS Used from: Embedded */

.accordionm6 {
    background-color: #2E2C39;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}

.accordionm6:hover {
    background-color: #3FBA9E;
}

.accordionm6:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panelm6 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*! CSS Used from: Embedded */

.accordionm8 {
    background-color: #2E2C39;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
}

.accordionm8:hover {
    background-color: #3FBA9E;
}

.accordionm8:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panelm8 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*! CSS Used from: Embedded */

#tmp_headline1-20302-180-163 .elHeadline b {
    color: rgb(228, 59, 44);
}


/*! CSS Used from: Embedded */

#headline-92085-172-185 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-29687-102-149 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-34849-170-100 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-26695-140-107 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-68112-117-105 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#tmp_headline1-97737-166-162 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-87131-169 .elHeadline b {
    color: rgb(66, 185, 159);
}


/*! CSS Used from: Embedded */

#tmp_subheadline-20552-161 .elHeadline b {
    color: rgb(0, 102, 255);
}


/*! CSS Used from: Embedded */

#tmp_headline1-97737-166-183-171 .elHeadline b {
    color: rgb(255, 255, 255);
}

#tmp_headline1-97737-166-183-171 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-87131-125-178 .elHeadline b {
    color: rgb(66, 185, 159);
}

#headline-87131-125-178 .elHeadline b {
    color: rgb(66, 185, 159);
}


/*! CSS Used from: Embedded */

#tmp_subheadline-20552-154-103 .elHeadline b {
    color: rgb(0, 102, 255);
}

#tmp_subheadline-20552-154-103 .elHeadline b {
    color: rgb(0, 102, 255);
}


/*! CSS Used from: Embedded */

#headline-59163 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-61400 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-28187 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#headline-35485 .elHeadline b {
    color: rgb(255, 255, 255);
}


/*! CSS Used from: Embedded */

#section--72513 .containerInner {
    width: 100%;
}

#col-left-127 {
    background-color: #2e2c39;
}

#row--91741 {
    padding: 0px;
    margin: 0px;
    outline: none;
}

#col-center-left-161,
#col-center-right-176,
#col-right-144,
#col-right-141 {
    border-right: 6px solid #f1f4f8;
}

input[type='radio'] {
    vertical-align: top;
}

.elOrderProductOptinProductName label {
    display: inline-block;
    max-width: 65%;
}

.activeRadioProduct {
    background: inherit!important;
}

.qty-head {
    font-weight: bold;
    width: 4em;
}

.qty_select {
    transform: scale(1.1);
    margin-right: 1em;
}

[data-de-type='ors'] .qty-head {
    width: 3em;
}

@media only screen and (max-width: 480px) {
    body,
    .elHeadline,
    p {
        text-align: center!important;
    }
}

@media only screen and (max-width: 480px) {
    .elButton {
        display: block!important;
        width: 100%!important;
    }
}

.elButton {
    border: 0px!important;
    -webkit-box-shadow: 0px 14px 23px 0px rgba(98, 106, 115, 0.4)!important;
    -moz-box-shadow: 0px 14px 23px 0px rgba(98, 106, 115, 0.4)!important;
    box-shadow: 0px 14px 23px 0px rgba(98, 106, 115, 0.4)!important;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

.hsSize1 {
    line-height: 1.8;
}

.elVideoWrapper {
    -webkit-box-shadow: 0px 29px 36px -19px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 29px 36px -19px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 29px 36px -19px rgba(0, 0, 0, 0.48);
}


/*! CSS Used keyframes */

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}


/*! CSS Used fontfaces */

@font-face {
    font-family: '29LT Bukra';
    src: url('../font/29LTBukra-Bold.woff2') format('woff2'), url('../font/29LTBukra-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('../font/29LTBukra-Light.woff2') format('woff2'), url('../font/29LTBukra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('../font/29LTBukra-Regular.woff2') format('woff2'), url('../font/29LTBukra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('../font/29LTBukra-BoldItalic.woff2') format('woff2'), url('../font/29LTBukra-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    font-family: '29LT Bukra' !important;
    font-weight: normal;
    font-style: normal;
}

body {
    background: transparent;
}

.tfriqa {
    width: calc(100% / 5) !important;
}

ul.descriptionlist {
    text-align: right;
    padding: 0px 30px 0px 10px;
}

.limen {
    text-align: right !important;
}

.elOrderProductOptinPrice {
    text-align: left;
}

.elOrderProductOptinProductName label {
    padding-right: 10px;
}

.elOrderProductOptinItem {
    padding-right: 15px;
}

.elOrderProductOptinLabelPrice {
    padding-right: 25px;
}

.ne.elHeadline.hsSize1.lh5.elMargin0.elBGStyle0.hsTextShadow0 {
    text-align: right !important;
}

button.close {
    padding-right: 0 !important;
}

.modal-header {
    text-align: center;
    background: #42b99f;
    color: white;
}

button.close {
    color: white;
}

input {
    text-align: right !important;
}

label.form-check-label {
    padding-right: 20px;
}

.additionalservices {
    text-align: center;
}

h3.modal-title {
    padding-right: 31%;
    font-size: 35;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.descriptionlist {
    line-height: 30px;
    min-height: 380px;
}

.elIMG1btn img {
    width: 100%;
    height: 300px;
}

.form-check {
    text-align: right;
    padding: 0 30px;
}

i {
    font-family: 'Font Awesome 5 Free' !important;
}

i.fa {
    font-family: 'Font Awesome 5 Free' !important;
}

label.packname {
    padding-right: 30px;
}

label.QTYPACk {
    padding-right: 35px;
}

div#exampleModalLong {
    padding-right: initial !important;
}

.additionalservices.taniya {
    background: rgb(122, 92, 215);
}

.additionalservicestexttaniya {
    position: relative;
    width: 100%;
    height: 50px;
    background: white;
    text-align: center;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.additionalservicestexttaniya h4 {
    color: rgb(122, 92, 215);
    font-size: 20px;
    padding: 15px 0;
}

.additionalservices.taniya {
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgb(122, 92, 215);
}

.additionalserviceschecktaniya {
    padding: 20px;
    color: white;
}

a.popup-vimeo.storyBtn {
    text-align: center !important;
    display: block;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(122, 92, 215);
    font-weight: 600;
}

.mfp-bg.mfp-fade.mfp-ready {
    z-index: 1111;
}

.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-fade.mfp-ready {
    z-index: 2222;
}

label.form-check-label {
    width: 100%;
    padding-bottom: 5px;
}

span.jorowaldis {
    float: left;
}

.additionalservicestextlowlaheader label {
    padding-right: 5px;
    color: red;
    font-size: 20px;
    font-weight: 900;
}

.additionalservicestextlowlaheader {
    padding: 5px;
    text-align: center;
}

span.jerjenb {
    margin-right: 20px;
}

.additionalservices.lowla {
    border: 4px solid black;
    border-style: dashed;
}

.additionalservices.lowla {
    background: #FBF8E3;
}

.additionalservicestextlowla {
    background: #FCFF9A;
}

.additionalservicestextlowlaheader input {
    bottom: 15px;
}

.additionalserviceschecklowla {
    padding: 20px;
}

span.redtxtdescription {
    color: red;
    text-decoration-line: underline;
    font-weight: 600;
}

a.storyprev.popup-vimeo {
    text-decoration: none;
    color: red;
    font-weight: 600;
}

.qty_selected {
    transform: scale(1.1);
    margin-right: 1em;
}

.row:before, .row:after {display: none !important;}

.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-ready {
    z-index: 9999;
}

.mfp-bg.mfp-ready {
    z-index: 9999;
}

a.storyprev.mfp-image.image-link {
    text-decoration: none !important;
}

@media (max-width: 600px) and (min-width: 0px) {
    ul.descriptionlist {
        min-height: initial !important;
    }
    h3.modal-title {
        padding: 20px 0 !important;
        font-size: 30px;
        text-align: center;
    }
    .qty_select {
        right: 0;
        position: absolute;
    }
    .additionalservices {
        margin-bottom: 20px !important;
    }
}